<div>
    <h2><%= link_to entry.word, entry_path(entry) %></h2>
    <p>Definition: <%= entry.definition %></p>
    <p><strong>Language:</strong> <%= entry.language %><strong> | Created at: </strong><%= entry.created_at %><strong> | Updated at:</strong> <%= entry.created_at %></p>
</div>
